.navbar{
    background-color: #000000;
    height: 70px;
    width: 5000px;
    display: flex;
    z-index: 6;
    justify-content: start;
    align-items: center;
}

.burger-and-logo{
    margin-left: 10px;
    margin-right: 660px;
    display: flex;
    justify-content: start;
    align-items: center;
}

